@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}

.Main1{
    width: 100%;
    margin: auto;
    padding: 0;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000000;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.438);
}
.Main1 .black ul{
    background-color: black;
}
.logo{
    width: 120px;
    cursor: pointer;
    border-radius: 70px;
    position: relative;
    margin: 0 40px;
    opacity: 0.8;
}
.Main1 h1{
    color: aliceblue;
    position: relative;
    right: 150px;
}
.Main1 ul li{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    position: relative;
    right: 100px;
}
.Main1 ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    cursor: pointer;
}
.Main1 ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: 0.5s;
}
.Main1 ul li:hover::after{
    width: 100%;
}
.f {
    height: 20px;
    width: 20px;
    position: relative;
    right: 200px;
}
.I{
    position: relative;
    right: 250px;
}
.background{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)),url(background.PNG);
}
.background h1{
    color: aliceblue;
    align-items: center;
    position: static;
    font-size: 75px;
    transform: translateY(35vh);
    text-align: center;
}
.content1{
    height: 500px;
    width: 45%;
    top: 150px;
    left: 50px;
    position: relative;
}
.content2 h1{
    text-align: left;
    position: relative;
    bottom: 350px;
    font-size: 45px;
    width: 55%;
}
.content2 p{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.Mission{
    height: 250px;
    width: 45%;
    position: relative;
    left: 52%;
    bottom: 250px;
}
.Mission1 p{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    bottom: -150px;
}
.Mission1 h1{
    position: relative;
    bottom: 200px;
}
.Vision{
    height: 250px;
    width: 45%;
    left: 50px;
    position: relative;
    bottom: 150px;
}
.Vision1 p{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    top: 100px;
}
.Vision1 h1{
    position: relative;
    bottom: 300px;
}
.End{
    width: 100%;
    height: 150px;
    background: rgba(185, 218, 212, 0.425);
}
.End p{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 100px;
}
